In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn import preprocessing

In [ ]:
df = pd.read_csv("Ready for Biogeme (new).csv", index_col=0)
df1 = pd.read_excel("Copy of cp_locations_poi_SourceLondonOnly.xlsx")

In [ ]:
df1

,station_dsp_id,coor_lon,coor_lat,is_in_car_park,nshops_200,nshops_500,namen_200,namen_500,npt_200,npt_500
0,SW19-2XE-01,-0.189277,51.415571,0,0,0,1,8,0,10
1,E20-1YY-05,-0.006165,51.545355,1,0,140,14,254,4,67
2,HA8-5HY-01,-0.266642,51.599483,0,1,1,3,8,4,13
3,WC2R-2PG-01,-0.112471,51.511407,0,0,12,13,176,8,29
4,SW17-8DF-01,-0.156855,51.430398,0,0,0,10,37,3,14
...,...,...,...,...,...,...,...,...,...,...
387,SE1-0EP-01,-0.097228,51.502995,0,0,5,3,82,0,17
388,N16-0LA-01,-0.079464,51.562227,0,3,15,7,36,4,18
389,SW6-3DZ-01,-0.194638,51.467100,0,0,2,6,57,0,13
390,RM7-0TJ-01,0.175700,51.564482,1,0,21,1,48,0,14
391,SW18-2PH-01,-0.180898,51.453839,0,11,15,21,43,4,19

In [ ]:
df_final = pd.merge(df, df1, on="station_dsp_id")
df_final

,station_dsp_id,station_num_id,coordinate_x,coordinate_y,nb_chargepoints,customer_id,offer_name,connector_type,charge_amount,StartDateTime,...,av26,coor_lon,coor_lat,is_in_car_park,nshops_200,nshops_500,namen_200,namen_500,npt_200,npt_500
0,W1T-2NH-01,323,-0.135467,51.519292,1,504320.0,0,7,7.51,2018-10-01 06:48:35,...,1.0,-0.135467,51.519292,0,0,9,1,24,0,15
1,W1T-2NH-01,323,-0.135467,51.519292,1,415355.0,1,7,9.61,2018-10-01 09:11:18,...,1.0,-0.135467,51.519292,0,0,9,1,24,0,15
2,W1T-2NH-01,323,-0.135467,51.519292,1,353330.0,1,7,7.91,2018-10-01 13:08:16,...,0.0,-0.135467,51.519292,0,0,9,1,24,0,15
3,W1T-2NH-01,323,-0.135467,51.519292,1,369889.0,1,7,4.78,2018-10-03 09:47:35,...,1.0,-0.135467,51.519292,0,0,9,1,24,0,15
4,W1T-2NH-01,323,-0.135467,51.519292,1,503734.0,0,7,9.86,2018-10-04 12:11:05,...,0.0,-0.135467,51.519292,0,0,9,1,24,0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3307,WC1E-7HY-01,349,-0.131570,51.522594,1,504992.0,1,22,3.36,2018-12-21 17:51:40,...,1.0,-0.131570,51.522594,0,3,9,2,18,4,25
3308,WC1E-7HY-01,349,-0.131570,51.522594,1,504305.0,2,22,5.95,2018-12-22 12:55:15,...,1.0,-0.131570,51.522594,0,3,9,2,18,4,25
3309,WC1E-7HY-01,349,-0.131570,51.522594,1,505459.0,0,22,7.48,2018-12-24 11:48:26,...,1.0,-0.131570,51.522594,0,3,9,2,18,4,25
3310,WC1E-7HY-01,349,-0.131570,51.522594,1,190067.0,1,22,16.48,2018-12-28 10:04:05,...,1.0,-0.131570,51.522594,0,3,9,2,18,4,25
3311,WC1E-7HY-01,349,-0.131570,51.522594,1,506702.0,0,22,4.38,2018-12-28 21:35:46,...,1.0,-0.131570,51.522594,0,3,9,2,18,4,25

In [ ]:
all_zero_cols = df_final.columns[(df_final == 0).all()]
all_zero_cols

Index(['is_in_car_park'], dtype='object')

In [ ]:
df2 = pd.read_csv("Availability_Q4 (1).csv", index_col=0)
df2

,Unnamed: 0,station_dsp_id,station_num_id,station_name,station_state,coordinate_x,coordinate_y,nb_chargepoints,charge_id,start_charge,...,billing_state,charge_amount,StartDateTime,StopDatetime,PiT_min,CostPerMin_in_pence,fiveminperiod_of_Start,fiveminperiod_before_Start,timeperiod,st_available
0,135895,W1T-2NH-01,323,Camden/Charlotte Street,open,-0.135467,51.519292,1,198043,10/1/2018,...,BILLED,7.51,2018-10-01 06:48:35,2018-10-01 08:36:40,108.083333,6.948342,2018-10-01 06:45:00,2018-10-01 06:40:00,2018-10-01 06:40:00,"['NW3-2RL-01', 'NW3-2QX-01', 'N6-6DD-01', 'NW1..."
1,166488,WC1X-9NB-01,356,Camden/Acton Street,open,-0.118663,51.528331,1,198052,10/1/2018,...,BILLED,8.14,2018-10-01 07:24:47,2018-10-01 10:20:53,176.100000,4.622374,2018-10-01 07:20:00,2018-10-01 07:15:00,2018-10-01 07:15:00,"['NW3-2RL-01', 'NW3-2QX-01', 'N6-6DD-01', 'NW1..."
2,164549,WC1N-2AA-01,353,Camden/Doughty Street,open,-0.117359,51.524642,1,198053,10/1/2018,...,BILLED,6.76,2018-10-01 07:26:07,2018-10-01 09:52:57,146.833333,4.603859,2018-10-01 07:25:00,2018-10-01 07:20:00,2018-10-01 07:20:00,"['NW3-2RL-01', 'NW3-2QX-01', 'N6-6DD-01', 'NW1..."
3,168662,WC2A-3EE-01,358,Camden/Lincolns Inn Field,open,-0.115537,51.517450,1,198055,10/1/2018,...,BILLED,5.52,2018-10-01 07:37:29,2018-10-01 09:36:42,119.216667,4.630225,2018-10-01 07:35:00,2018-10-01 07:30:00,2018-10-01 07:30:00,"['NW3-2RL-01', 'NW3-2QX-01', 'N6-6DD-01', 'NW1..."
4,135896,W1T-2NH-01,323,Camden/Charlotte Street,open,-0.135467,51.519292,1,198087,10/1/2018,...,BILLED,9.61,2018-10-01 09:11:18,2018-10-01 12:39:35,208.283333,4.613907,2018-10-01 09:10:00,2018-10-01 09:05:00,2018-10-01 09:05:00,"['NW3-2RL-01', 'NW3-2QX-01', 'N6-6DD-01', 'NW1..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3307,42141,NW6-2QU-01,124,Camden/Netherwood Street,open,-0.200521,51.545146,1,228405,12/31/2018,...,CANCELLED,8.55,2018-12-31 16:02:10,2018-12-31 19:07:28,185.300000,4.614139,2018-12-31 16:00:00,2018-12-31 15:55:00,2018-12-31 15:55:00,"['NW1-8UG-01', 'W1T-5NH-01', 'NW6-2QU-01']"
3308,32349,NW1-8UG-01,110,Camden/Regents Park Road,open,-0.157505,51.540027,2,228411,12/31/2018,...,BILLED,6.39,2018-12-31 16:35:45,2018-12-31 18:53:56,138.183333,4.624291,2018-12-31 16:35:00,2018-12-31 16:30:00,2018-12-31 16:30:00,"['NW1-8UG-01', 'W1T-5NH-01']"
3309,136936,W1T-5NH-01,324,Camden/Warren Street,open,-0.142097,51.523543,1,228431,12/31/2018,...,BILLED,0.00,2018-12-31 17:53:06,2018-12-31 20:19:39,146.550000,0.000000,2018-12-31 17:50:00,2018-12-31 17:45:00,2018-12-31 17:45:00,"['NW1-8UG-01', 'WC2B-6TE-01', 'W1T-5NH-01']"
3310,169411,WC2B-6TE-01,359,Camden/Sardinia Street,open,-0.118403,51.515045,1,228438,12/31/2018,...,BILLED,8.46,2018-12-31 18:45:04,2018-12-31 21:48:55,183.850000,4.601577,2018-12-31 18:45:00,2018-12-31 18:40:00,2018-12-31 18:40:00,"['NW1-8UG-01', 'WC2B-6TE-01']"
3311,32350,NW1-8UG-01,110,Camden/Regents Park Road,open,-0.157505,51.540027,2,228445,12/31/2018,...,BILLED,10.35,2018-12-31 19:30:01,2018-12-31 23:14:08,224.116667,4.618130,2018-12-31 19:30:00,2018-12-31 19:25:00,2018-12-31 19:25:00,['NW1-8UG-01']

In [ ]:
list = [None] * len(df2)
for i in range(len(df2)):
  if df2['connector_type'][i] == 'Type 2 - 22 kW':
    list[i] = df2['station_dsp_id'][i]
list

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'WC1E-7HY-01',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ...]

In [ ]:
list_1 = set(list)
list_1

{None, 'WC1E-7HY-01'}

In [ ]:
df_final['FC'] = np.nan
df_final

,station_dsp_id,station_num_id,coordinate_x,coordinate_y,nb_chargepoints,customer_id,offer_name,connector_type,charge_amount,StartDateTime,...,coor_lon,coor_lat,is_in_car_park,nshops_200,nshops_500,namen_200,namen_500,npt_200,npt_500,FC
0,W1T-2NH-01,323,-0.135467,51.519292,1,504320.0,0,7,7.51,2018-10-01 06:48:35,...,-0.135467,51.519292,0,0,9,1,24,0,15,NaN
1,W1T-2NH-01,323,-0.135467,51.519292,1,415355.0,1,7,9.61,2018-10-01 09:11:18,...,-0.135467,51.519292,0,0,9,1,24,0,15,NaN
2,W1T-2NH-01,323,-0.135467,51.519292,1,353330.0,1,7,7.91,2018-10-01 13:08:16,...,-0.135467,51.519292,0,0,9,1,24,0,15,NaN
3,W1T-2NH-01,323,-0.135467,51.519292,1,369889.0,1,7,4.78,2018-10-03 09:47:35,...,-0.135467,51.519292,0,0,9,1,24,0,15,NaN
4,W1T-2NH-01,323,-0.135467,51.519292,1,503734.0,0,7,9.86,2018-10-04 12:11:05,...,-0.135467,51.519292,0,0,9,1,24,0,15,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3307,WC1E-7HY-01,349,-0.131570,51.522594,1,504992.0,1,22,3.36,2018-12-21 17:51:40,...,-0.131570,51.522594,0,3,9,2,18,4,25,NaN
3308,WC1E-7HY-01,349,-0.131570,51.522594,1,504305.0,2,22,5.95,2018-12-22 12:55:15,...,-0.131570,51.522594,0,3,9,2,18,4,25,NaN
3309,WC1E-7HY-01,349,-0.131570,51.522594,1,505459.0,0,22,7.48,2018-12-24 11:48:26,...,-0.131570,51.522594,0,3,9,2,18,4,25,NaN
3310,WC1E-7HY-01,349,-0.131570,51.522594,1,190067.0,1,22,16.48,2018-12-28 10:04:05,...,-0.131570,51.522594,0,3,9,2,18,4,25,NaN
3311,WC1E-7HY-01,349,-0.131570,51.522594,1,506702.0,0,22,4.38,2018-12-28 21:35:46,...,-0.131570,51.522594,0,3,9,2,18,4,25,NaN

In [ ]:
for i in range(len(df_final)):
  if df_final['station_dsp_id'][i] == 'WC1E-7HY-01':
    df_final['FC'][i] = 1
  else:
    df_final['FC'] = 0
df_final

<ipython-input-11-52decd392b40>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['FC'][i] = 1

,station_dsp_id,station_num_id,coordinate_x,coordinate_y,nb_chargepoints,customer_id,offer_name,connector_type,charge_amount,StartDateTime,...,coor_lon,coor_lat,is_in_car_park,nshops_200,nshops_500,namen_200,namen_500,npt_200,npt_500,FC
0,W1T-2NH-01,323,-0.135467,51.519292,1,504320.0,0,7,7.51,2018-10-01 06:48:35,...,-0.135467,51.519292,0,0,9,1,24,0,15,0
1,W1T-2NH-01,323,-0.135467,51.519292,1,415355.0,1,7,9.61,2018-10-01 09:11:18,...,-0.135467,51.519292,0,0,9,1,24,0,15,0
2,W1T-2NH-01,323,-0.135467,51.519292,1,353330.0,1,7,7.91,2018-10-01 13:08:16,...,-0.135467,51.519292,0,0,9,1,24,0,15,0
3,W1T-2NH-01,323,-0.135467,51.519292,1,369889.0,1,7,4.78,2018-10-03 09:47:35,...,-0.135467,51.519292,0,0,9,1,24,0,15,0
4,W1T-2NH-01,323,-0.135467,51.519292,1,503734.0,0,7,9.86,2018-10-04 12:11:05,...,-0.135467,51.519292,0,0,9,1,24,0,15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3307,WC1E-7HY-01,349,-0.131570,51.522594,1,504992.0,1,22,3.36,2018-12-21 17:51:40,...,-0.131570,51.522594,0,3,9,2,18,4,25,1
3308,WC1E-7HY-01,349,-0.131570,51.522594,1,504305.0,2,22,5.95,2018-12-22 12:55:15,...,-0.131570,51.522594,0,3,9,2,18,4,25,1
3309,WC1E-7HY-01,349,-0.131570,51.522594,1,505459.0,0,22,7.48,2018-12-24 11:48:26,...,-0.131570,51.522594,0,3,9,2,18,4,25,1
3310,WC1E-7HY-01,349,-0.131570,51.522594,1,190067.0,1,22,16.48,2018-12-28 10:04:05,...,-0.131570,51.522594,0,3,9,2,18,4,25,1
3311,WC1E-7HY-01,349,-0.131570,51.522594,1,506702.0,0,22,4.38,2018-12-28 21:35:46,...,-0.131570,51.522594,0,3,9,2,18,4,25,1

In [ ]:
station_ids = df_final['station_dsp_id'].unique()

# Create new columns
for i, sid in enumerate(station_ids):
    # Get the car park value for this station
    car_park_val = df_final.loc[df_final['station_dsp_id'] == sid, 'is_in_car_park'].iloc[0]
    # Create a new column for each station
    col_name = f"car_park_{i}"
    df_final[col_name] = 0
    df_final.loc[df_final['station_dsp_id'] == sid, col_name] = car_park_val

In [ ]:
station_ids = df_final['station_dsp_id'].unique()

# Create new columns
for i, sid in enumerate(station_ids):
    # Get the car park value for this station
    n_shops200_val = df_final.loc[df_final['station_dsp_id'] == sid, 'nshops_200'].iloc[0]
    # Create a new column for each station
    col_name = f"n_shops_200_{i}"
    df_final[col_name] = 0
    df_final.loc[df_final['station_dsp_id'] == sid, col_name] = n_shops200_val

In [ ]:
station_ids = df_final['station_dsp_id'].unique()

# Create new columns
for i, sid in enumerate(station_ids):
    # Get the car park value for this station
    n_shops500_val = df_final.loc[df_final['station_dsp_id'] == sid, 'nshops_500'].iloc[0]
    # Create a new column for each station
    col_name = f"n_shops_500_{i}"
    df_final[col_name] = 0
    df_final.loc[df_final['station_dsp_id'] == sid, col_name] = n_shops500_val

In [ ]:
station_ids = df_final['station_dsp_id'].unique()

# Create new columns
for i, sid in enumerate(station_ids):
    # Get the car park value for this station
    namen200_val = df_final.loc[df_final['station_dsp_id'] == sid, 'namen_200'].iloc[0]
    # Create a new column for each station
    col_name = f"namen_200_{i}"
    df_final[col_name] = 0
    df_final.loc[df_final['station_dsp_id'] == sid, col_name] = namen200_val

<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-15-01f2877bd423>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0

In [ ]:
station_ids = df_final['station_dsp_id'].unique()

# Create new columns
for i, sid in enumerate(station_ids):
    # Get the car park value for this station
    namen500_val = df_final.loc[df_final['station_dsp_id'] == sid, 'namen_500'].iloc[0]
    # Create a new column for each station
    col_name = f"namen_500_{i}"
    df_final[col_name] = 0
    df_final.loc[df_final['station_dsp_id'] == sid, col_name] = namen500_val

<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-16-8135bb4be23b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0

In [ ]:
station_ids = df_final['station_dsp_id'].unique()

# Create new columns
for i, sid in enumerate(station_ids):
    # Get the car park value for this station
    npt200_val = df_final.loc[df_final['station_dsp_id'] == sid, 'npt_200'].iloc[0]
    # Create a new column for each station
    col_name = f"npt_200_{i}"
    df_final[col_name] = 0
    df_final.loc[df_final['station_dsp_id'] == sid, col_name] = npt200_val

<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-17-791f02a3aa8b>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0

In [ ]:
station_ids = df_final['station_dsp_id'].unique()

# Create new columns
for i, sid in enumerate(station_ids):
    # Get the car park value for this station
    npt500_val = df_final.loc[df_final['station_dsp_id'] == sid, 'npt_500'].iloc[0]
    # Create a new column for each station
    col_name = f"npt_500_{i}"
    df_final[col_name] = 0
    df_final.loc[df_final['station_dsp_id'] == sid, col_name] = npt500_val

<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-18-b00982ceb2e3>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0

In [ ]:
station_ids = df_final['station_dsp_id'].unique()

# Create new columns
for i, sid in enumerate(station_ids):
    # Get the car park value for this station
    FC_val = df_final.loc[df_final['station_dsp_id'] == sid, 'FC'].iloc[0]
    # Create a new column for each station
    col_name = f"FC_{i}"
    df_final[col_name] = 0
    df_final.loc[df_final['station_dsp_id'] == sid, col_name] = FC_val

<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0
<ipython-input-19-32b89b333e85>:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final[col_name] = 0

In [ ]:
df_final

,station_dsp_id,station_num_id,coordinate_x,coordinate_y,nb_chargepoints,customer_id,offer_name,connector_type,charge_amount,StartDateTime,...,FC_17,FC_18,FC_19,FC_20,FC_21,FC_22,FC_23,FC_24,FC_25,FC_26
0,W1T-2NH-01,323,-0.135467,51.519292,1,504320.0,0,7,7.51,2018-10-01 06:48:35,...,0,0,0,0,0,0,0,0,0,0
1,W1T-2NH-01,323,-0.135467,51.519292,1,415355.0,1,7,9.61,2018-10-01 09:11:18,...,0,0,0,0,0,0,0,0,0,0
2,W1T-2NH-01,323,-0.135467,51.519292,1,353330.0,1,7,7.91,2018-10-01 13:08:16,...,0,0,0,0,0,0,0,0,0,0
3,W1T-2NH-01,323,-0.135467,51.519292,1,369889.0,1,7,4.78,2018-10-03 09:47:35,...,0,0,0,0,0,0,0,0,0,0
4,W1T-2NH-01,323,-0.135467,51.519292,1,503734.0,0,7,9.86,2018-10-04 12:11:05,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3307,WC1E-7HY-01,349,-0.131570,51.522594,1,504992.0,1,22,3.36,2018-12-21 17:51:40,...,0,0,0,0,0,0,0,0,0,1
3308,WC1E-7HY-01,349,-0.131570,51.522594,1,504305.0,2,22,5.95,2018-12-22 12:55:15,...,0,0,0,0,0,0,0,0,0,1
3309,WC1E-7HY-01,349,-0.131570,51.522594,1,505459.0,0,22,7.48,2018-12-24 11:48:26,...,0,0,0,0,0,0,0,0,0,1
3310,WC1E-7HY-01,349,-0.131570,51.522594,1,190067.0,1,22,16.48,2018-12-28 10:04:05,...,0,0,0,0,0,0,0,0,0,1
3311,WC1E-7HY-01,349,-0.131570,51.522594,1,506702.0,0,22,4.38,2018-12-28 21:35:46,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
#df_final.to_csv("Ready - Camden attributes Biogeme ready.csv")

In [ ]:
df_final.to_csv("Ready - Camden attributes Biogeme ready (1) new.csv")